<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Numeros Romanos</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Practica para Ingeneria Web</p>
      </div>
    </div>
  </div>
<br> 

<div class="container">
    <div class="row aling-intems-center">
        <div class="col">
            <div class="input-group mb-3">
                <input #numeroRomano type="text"  class="form-control" id="numeroRomano" placeholder="Ingrese el nuemro Romano" aria-label="Ingrese el nuemro Romano" aria-describedby="button-addon2"  >
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="convertirRD(numeroRomano.value)" >Convertir</button>
              </div>
          </div>
          
          
    </div>
</div>
